<head>
  <link href=\"static/style.css\" rel=\"stylesheet\" type=\"text/css\">
  <script type="text/javascript" src="static/js/lib/jquery-3.5.1.js"></script>
  <script type="text/javascript">
  $(document).ready( function() {
    $('.tag_link').on('click', function(e) {
      var url = "http://localhost:5555" + $(this).children('a').attr('href');
      var xhr = new XMLHttpRequest();
      xhr.open("DELETE", url, true);
      xhr.send(null);
      $(this).remove();  // Modify page w/o redirecting
      //document.location.href='/';  // Can't do this any more since Chrome 88, which blocks JS redirects
      return false;
    });
  });
  </script>
</head>

<body>
  <h1>The Ultimate Tag Manager</h1>
  <a href="/">Home</a> <a href="about">About</a>
  {% block content %}
  {% endblock %}
</body>
